@model UnitunesMvc.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<h4>Insira suas credenciais</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>                    
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <p><b>Ainda não tenho cadastro</b></p>
        <p>Para utilizar nosso sitema é necessário realizar um cadastro. Através dele você ficará por dentro das mídias compartilhadas na Unisinos.</p>
        <a class="btn btn-default" href="@Url.Action("Register","Usuarios")" role="button">Cadastre-se</a>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
